<div class="index-content">
    <div class="container">
        <div class="row">
            <!--card 1-->
            <div class="card-columns">
                <a href="#">
                    <div class="card">
                        <img src="/images/ml.jpg">
                        <h4>¿Qué es Machine Learning y qué aplicaciones tiene en nuestro día a día?</h4>
                        <span class="badge align-content-center badge-dark" style="margin-left: 2em;">
                            <span class="icon-newspaper"></span> Articulo
                        </span>
                        <p>El Machine Learning no es algo nuevo. Sin embargo, poco tiene que ver el Machine Learning de nuestros
                            días con las soluciones de aprendizaje automático del pasado.</p>
                        <a href="#" class="blue-button">
                            <span class="icon-plus"></span> Leer Mas</a>
                    </div>
                </a>
                <!--card 2-->
                <a href="#">
                    <div class="card">
                        <img src="/images/deeplearning.png">
                        <h4>Deep Learning con python - TensorFlow</h4>
                        <span class="badge align-content-center badge-primary" style="margin-left: 2em;">
                            <span class="icon-pencil"></span> Tutoriales
                        </span>
                        <p>Machine learning has made remarkable progress in recent years. We went from near-unusable speech
                            and image recognition, to near-human accuracy.</p>
                        <a href="#" class="blue-button">
                            <span class="icon-plus"></span> Leer Mas</a>
                    </div>
                </a>
                <!--card 3-->
                <a href="#">
                    <div class="card">
                        <img src="/images/img4.png">
                        <h4>Sample plots in Matplotlib</h4>
                        <span class="badge align-content-center badge-dark" style="margin-left: 2em;">
                            <span class="icon-newspaper"></span> Articulo
                        </span>
                        <p>A NumPy tutorial for beginners in which you'll learn how to create a NumPy array, use broadcasting,
                            access values, manipulate arrays, and much more.</p>
                        <a href="#" class="blue-button">
                            <span class="icon-plus"></span> Leer Mas</a>
                    </div>
                </a>

                <!--card 4-->
                <a href="#">
                    <div class="card">
                        <img src="/images/img1.png">
                        <h4>Machine Learning y Deep Learning: cómo entender las claves del presente y futuro de la inteligencia
                            artificial
                        </h4>
                        <span class="badge align-content-center badge-primary" style="margin-left: 2em;">
                            <span class="icon-pencil"></span> Tutoriales
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua.</p>
                        <a href="#" class="blue-button">
                            <span class="icon-plus"></span> Leer Mas</a>
                    </div>
                </a>
                <!--card 5-->
                <a href="#">
                    <div class="card">
                        <img src="/images/img2.jpg">
                        <h4>Aprende sobre Inteligencia Artificial por internet: cursos, publicaciones y las recomendaciones de
                            expertos
                        </h4>
                        <span class="badge align-content-center badge-dark" style="margin-left: 2em;">
                            <span class="icon-newspaper"></span> Articulo
                        </span>
                        <p>Hasta hace unos pocos años, cuando hablábamos de Inteligencia Artificial teníamos que hacerlo refiriéndonos
                            a ella...</p>
                        <a href="#" class="blue-button">
                            <span class="icon-plus"></span> Leer Mas</a>
                    </div>
                </a>
                <!--card 6-->
                <a href="#">
                    <div class="card">
                        <img src="/images/img3.png">
                        <h4>Como hacer un mapa muy bonito de España en ggplot2</h4>
                        <span class="badge align-content-center badge-dark" style="margin-left: 2em;">
                            <span class="icon-newspaper"></span> Articulo
                        </span>
                        <p>Hace unas semanas leí un artículo en el cual Timo Grossenbacher mostraba como consiguió hacer, en
                            mi opinión, uno de los mapas más bonitos que he visto nunca. </p>
                        <a href="#" class="blue-button">
                            <span class="icon-plus"></span> Leer Mas</a>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>