<div class="container">
    <br />
    <br />
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-center" style="width: 100%">
          <div class="col-md-8">
            <h1 class="display-6">Contacto</h1>

            <p><em>¿Como puedes comunicarte con nosotros?</p></em>

            <h4>Habla conmigo al instante</h4>

            <p><em>Por estos medios te contestaré en minutos y podremos hablar de lo que necesites:</p></em>

            <ul class="list-group">
              <li class="list-group-item">Escríbeme por <a href="https://twitter.com/LuisMBaezCo" target="_blank">Twitter</a></li>
              <li class="list-group-item">Envíame un mensaje privado en <a href="https://www.facebook.com/LuisMBaezCo" target="_blank">Facebook</a></li>
              <li class="list-group-item">Por mensaje directo por <a href="https://www.instagram.com/luismbaezco/" target="_blank">Instagram</a></li>
            </ul>
            <h4>Conoce más de mí y entérate de todas las novedades</h4>
            <p><em>Puedes seguirme en los siguientes sitios para conocer más de mí, mantenerte en contacto conmigo y ser el primero en ver todas las novedades que vaya lanzando.</em></p>

            <ul class="list-group">
              <li class="list-group-item"><strong><span class="icon-facebook2"></span>   Facebook</strong> : <a href="https://www.facebook.com/LuisMBaezCo" target="_blank">https://www.facebook.com/LuisMBaezCo</a></li>
              <li class="list-group-item"><strong><span class="icon-twitter"></span>   Twitter</strong> : <a href="https://twitter.com/LuisMBaezCo" target="_blank">https://twitter.com/LuisMBaezCo</a></li>
              <li class="list-group-item"><strong><span class="icon-instagram"></span>   Instagram</strong> : <a href="https://www.instagram.com/luismbaezco/" target="_blank">https://www.instagram.com/luismbaezco/</a></li>
              <li class="list-group-item"><strong><span class="icon-github"></span>   GitHub</strong> : <a href="https://github.com/LuisMBaezCo" target="_blank">https://github.com/LuisMBaezCo</a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>