<div class="main">
  <div
    class="row justify-content-center"
    style="width: 100%; margin-top: 20px;"
  >
    <div class="col-10">
      <div
        class="jumbotron p-3 p-md-5 text-white rounded"
        style="background-color: #003e71;"
      >
        <div class="col-md-12 px-0">
          <h1
            class="display-4 font-italic text-center"
            style="font-family: Georgia; background-color: #000; "
            id="matter"
          ></h1>

          <p class="lead my-3" id="matter-description"></p>
        </div>
      </div>

      <div class="row mb-2" id="tags"></div>
    </div>
  </div>
</div>
