<!--
        _/_/_/_/_/   _/      _/
         _/       _/_/    _/
        _/       _/  _/  _/
       _/       _/    _/_/
  _/_/_/_/_/   _/      _/
 
      _/_/_/    _/_/_/_/   _/_/_/_/    _/_/_/   
     _/    _/  _/         _/         _/    _/   
    _/    _/  _/_/_/     _/_/_/     _/_/_/_/   
   _/    _/  _/         _/         _/         
  _/_/_/    _/_/_/_/   _/_/_/_/   _/    

      _/          _/_/      _/_/_/
     _/        _/    _/   _/    _/
    _/        _/_/_/_/   _/_/_/_/
   _/        _/    _/   _/    _/
  _/_/_/_/  _/    _/   _/_/_/_/
-->
<div id="navbar-full">
  <div style="background-color: #003e71;">
    <div class="row">
      <a class="navbar-brand justify-content-start col-2" href="#">
        <img src="/images/logo.png" width="200px" height="60px" />
      </a>

      <div class="col-8 d-none d-lg-block d-lg-none" style="color: #fff;">
        <a href="/matter/search?search=Programacion" class="icon-tag">
          <span class="icon-terminal"></span> Programación</a
        >

        <span class="icon-flickr"></span>
        <a href="/matter/search?search=Calculo%20Integral" class="icon-tag"
          >∭ Calculo</a
        >

        <span class="icon-flickr"></span>
        <a href="/matter/search?search=Algebra%20Lineal" class="icon-tag">
          <span class="icon-sort-amount-asc"></span> Algebra Lineal</a
        >

        <span class="icon-flickr"></span>
        <a href="/matter/search?search=Matematica%20Discreta" class="icon-tag">
          <span class="icon-clear-formatting"></span> Matemática Discreta</a
        >

        <span class="icon-flickr"></span>
        <a href="/matter/search?search=Estadistica" class="icon-tag">
          <span class="icon-stats-dots"></span> Estadistica</a
        >
        <br />
        <!-- SALTO DE LINEA -->

        <a href="/matter/search?search=Deep%20Learning" class="icon-tag">
          <span class="icon-share2"></span> Deep Learning</a
        >

        <span class="icon-flickr"></span>
        <a href="/matter/search?search=Data%2Science" class="icon-tag">
          <span class="icon-stats-bars"></span> Data Science</a
        >

        <span class="icon-flickr"></span>
        <a href="/matter/search?search=Machine%20Learning" class="icon-tag">
          <span class="icon-stack"></span> Machine learning</a
        >

        <span class="icon-flickr"></span>
        <a href="#" class="icon-tag">
          <span class="icon-database"></span> Big Data</a
        >

        <span class="icon-flickr"></span>
        <a href="/matter/search?search=Data%20Mining" class="icon-tag">
          <span class="icon-hammer"></span> Data Mining</a
        >
      </div>
    </div>
  </div>

  <nav class="navbar-expand-lg navbar-light" style="background-color: #000000;">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" style="color: #fff;"> </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active nav-blog">
          <a class="nav-link" href="/" style="color: #fff;">
            <span class="icon-home"></span> Home
          </a>
        </li>

        <%if (session.author) { %>

        <li class="nav-item nav-blog">
          <a class="nav-link" href="/matter/create" style="color: #fff;"
            ><span class="icon-books"></span> Crear Materia</a
          >
        </li>
        <li class="nav-item nav-blog">
           <a class="nav-link" href="/tag/create" style="color: #fff;"
            ><spa class="icon-price-tag"></spa> Crear tag</a
          >
        </li>

        <li class="nav-item nav-blog">
          <a class="nav-link" href="/articulo/nuevo" style="color: #fff;"
            ><spa class="icon-file-text2"></spa> Crear Articulo</a
          >
        </li>
        <% } %>

        <li class="nav-item nav-blog">
          <a
            class="nav-link"
            href="/matter/search?search=Machine%20Learning"
            style="color: #fff;"
          >
            Machine Learning
          </a>
        </li>

        <li class="nav-item nav-blog">
          <a
            class="nav-link"
            href="/matter/search?search=Deep%20Learning"
            style="color: #fff;"
          >
            Deep Learning
          </a>
        </li>

        <li class="nav-item nav-blog">
          <a class="nav-link" href="/info/contact" style="color: #fff;">
            <span class="icon-profile"></span> Contacto
          </a>
        </li>
      </ul>

      <%if (session.author) { %>
      <div
        class="collapse navbar-collapse justify-content-end"
        style="margin-right: 50px;"
      >
        <a class="nav-link" style="color: #fff;padding: 0px!important;">
          <span
            class="badge badge-warning"
            style="padding: 13px;border-radius: 0px;"
          >
            <span class="icon-users"></span><%= session.author.user %>
          </span>
        </a>
        <a
          class="nav-link"
          href="/author/signout"
          style="color: #fff;padding: 0px!important;"
        >
          <span
            class="badge badge-danger"
            style="padding: 13px;border-radius: 0px;"
          >
            Salir<span class="icon-user-minus"></span>
          </span>
        </a>
      </div>

      <% } else{ %>
        <div
        class="collapse navbar-collapse justify-content-end"
        style="margin-right: 50px;"
      >
        <a class="nav-link" href="/author/login" style="color: #fff;padding: 0px!important;">
          <span
            class="badge badge-warning"
            style="padding: 13px;border-radius: 0px;"
          >
            <span class="icon-users"></span>LogIn
        </a>
      </div>
      <% } %>

      <form
        class="navbar-form"
        method="GET"
        action="/articulo/search"
        role="search"
      >
        <div class="input-group">
          <input
            type="text"
            class="form-control pull-right"
            style="width: 300px; margin-right: 35px; border: 1px solid black; background-color: #000;"
            name="search"
            placeholder="Search"
            id="search"
          />

          <button type="reset">
            <span class="icon-cross"> <span class="sr-only">Close</span> </span>
          </button>

          <button type="button" id="show">
            <span class="icon-search">
              <span class="sr-only">Search</span>
            </span>
          </button>

          <button type="submit" id="submit" style="display: none">
            <span class="icon-search">
              <span class="sr-only">Search</span>
            </span>
          </button>
        </div>
      </form>
    </div>
  </nav>
</div>
