<div class="main">
  <div class="index-content">
    <div class="container">
      <div
        class="alert alert-primary"
        role="alert"
        style="background-color: #003e71"
      >
        <h4
          class="alert-heading text-center"
          id="searchText"
          style="color: #fff;"
        >
          Busqueda: Generalized Linear Models
        </h4>
      </div>
      <div class="row" id="categories">
        <!--
          <div class="card-columns">
            <a href="blog.html">
                <div class="card">
                  <img src="ml.jpg">
                  <h4>¿Qué es Machine Learning y qué aplicaciones tiene en nuestro día a día?</h4>
                  <span class="badge align-content-center badge-dark" style="margin-left: 2em;">
                    <span class="icon-newspaper"></span> Articulo
                  </span>
                  <p>El Machine Learning no es algo nuevo. Sin embargo, poco tiene que ver el Machine Learning de nuestros días con las soluciones de aprendizaje automático del pasado.</p>
                  <a href="blog.html" class="blue-button"><span class="icon-plus"></span> Leer Mas</a>
                </div>
            </a>

          </div>
        -->
      </div>
    </div>
  </div>
</div>
