<div class="main">
  <div class="index-content">
    <div class="container">
      <div
        class="alert alert-primary"
        role="alert"
        style="background-color: #003e71"
        id="card-searchText"
      >
        <h4
          class="alert-heading text-center"
          id="searchText"
          style="color: #fff;"
        >
          Busqueda: Generalized Linear Models
        </h4>
      </div>
      <div class="row" id="categories"></div>
    </div>
  </div>
</div>
